head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="theme-color" content="#ffffff")
    meta(name="format-detection", content="telephone=no")
    meta(name="application-name", content="Gulp")
    meta(name="apple-mobile-web-app-title", content="Gulp")
    meta(name="msapplication-TileColor", content="#ffffff")

    title= pageTitle
    meta(name='description', content='HTML layout')
    meta(name='keywords', content='template, html, css, js')
    meta(name='author', content='Artemy Onuchin')

    // Mobile
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="mobile-web-app-capable", content="yes")

    // Style
    link(rel='stylesheet', href='assets/css/normalize.css')
    link(rel='stylesheet', href='assets/css/fonts.css')
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='stylesheet', href='assets/css/layouts.css')
    link(rel='stylesheet', href='assets/css/components.css')

    // Icons
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
